:80 {
    encode gzip
    route {
        handle_path /api/* {
            reverse_proxy backend:5000
        }
        handle {
            root * /srv
            file_server
            try_files {path} /index.html
        }
    }
}